body{
    background-color: #EEEEEE;
}
h1{
    color: #0E49B5;
    font-size: 4.1rem;
    
}
.connect{
    font-size: 2rem;
    
}
input{
    width: 360px;
    height: 45px;
    border-radius: 7px;
    border: 1px solid #B2B1B9;
    margin-left: 10px;
    margin-top: 12px;
    display: flex;
    padding-left: 14px;
}

hr{
    margin-left: 10px;
    margin-top: 25px;
    margin-bottom: 25px;
}

.facebook{
    margin-top: 8%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}
.intro{
    margin-top: 60px;
    margin-right: 200px;
}



.form{
    margin-top: ;
    text-align: center;
    margin-top: 2%;
    background-color: #fff;
    width: 32%;
    display: flex;
    border-radius: 8px;
    
    
    
}
.login{
    
    height: 46px;
    background-color: #0E49B5;                 
    border: none;
    color: #FFF;
    font-size: 1.1rem;
    border-radius: 7px;
    padding: 10px 164px;
    margin-left: 10px;
    margin-bottom: 20px;
    
}


.forgot{
    color: #0E49B5;
    text-decoration: none;
    font-size: 1.1rem;
}

.create-new-account{
    color: #FFF;
    font-size: 1.1rem;
    background-color:green;
    padding: 15px 20px;
    border: none;
    border-radius: 7px;
    margin-bottom: 26px;
}

.para p{
    
    margin-left: 800px;
}
